li.customize-control{
	margin-bottom: 20px;
}
li.customize-control:last-of-type{
	margin-bottom: 10px;
}
#customize-controls .description{
	font-style: normal;
}
#customize-controls select{
	width: 100%;
}